@font-face {
	font-family: "BigNoodleTitlingCyr";
	src: url("../font/BigNoodleTitlingCyr.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoThin";
	src: url("../font/RobotoThin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoCon";
	src: url("../font/RobotoCondensed.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}