/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1392px) {
	
}
@media only screen and (max-width : 1200px) {
	.mnuTop {
    height: 7vh;
  }
	header p, footer p{
		font-size: 2.5rem;
		line-height: 7vh;
	}
	.contact span{
		font-size: 2rem;
		line-height: 7vh;
	}
	.contact i{
		font-size: 2.5rem;
	}
	.downPrice i{
		font-size: 2.5rem;
	}
	.downPrice a{
		font-size: 2rem;
		line-height: 7vh;
	}
	body .fixText{
		line-height: 3.5vh;
	}
	body .fixMnuTop{
		height: 3.5vh;
	}
}
@media only screen and (max-width : 1170px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.mnuTop {
    height: 5vh;
  }
	header p, footer p{
		font-size: 2.5rem;
		line-height: 5vh;
	}
	.downPrice a{
		font-size: 2rem;
		line-height: 5vh;
	}
	.contact span{
		font-size: 2rem;
		line-height: 5vh;
	}
	body .fixText{
		line-height: 3vh;
	}
	body .fixMnuTop{
		height: 3vh;
	}
	strong{
		display: none;
	}
	body .fixText .downPrice i, body .fixText .descrMenu i{
		font-size: 3rem;
		line-height: 3vh;
	}
	.descrMenu nav{
		left: -40px;
		width: 110px;
	}
	.descrMenu .heightMax{
		width: 110px;
	}
}

@media only screen and (max-width : 810px) {
	.descrMenu nav{
		left: -75px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.mnuTop {
    height: 6vh;
  }
	header p, footer p{
		font-size: 2.5rem;
		line-height: 6vh;
	}
	.contact span{
		font-size: 2rem;
		line-height: 3vh;
	}
	.contact i{
		font-size: 2rem;
	}
	.downPrice i{
		font-size: 2.5rem;
	}
	.downPrice a{
		font-size: 2rem;
		line-height: 6vh;
	}
	body .fixText{
		line-height: 3vh;
	}
	body .fixMnuTop{
		height: 3vh;
	}
	body .fixText .downPrice i, body .fixText .descrMenu i{
		font-size: 3rem;
		line-height: 3vh;
	}
	.descrMenu nav{
		left: -40px;
		width: 110px;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		CSS transitions
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		CSS transforms
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		CSS animations
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}
@media only screen and (max-width : 618px) {
	.title h1{
		font-size: 3rem;
	}
}
@media only screen and (max-width : 495px) {
	
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {

}
@media only screen and (max-width : 320px) {
	
}


/* Extra Small Devices, Phones */



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 555px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}