body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	position: relative;
}
header p{
	font-family: "BigNoodleTitlingCyr";
	font-size: 3.33rem;
	margin: 40px 0 40px 0;
}
h1{
	font-family: "BigNoodleTitlingCyr";
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #D7D6D6;
	text-align: center;
}
#bord{
	position: relative;
	background-image: url(../images/parallax1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 200px;
}
.title{
	width: 100%;
	height: 100%;
}