body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	position: absolute;
	background-color: rgba(249,246,246,.7);
	left: 0px;
	top: 0px;
	z-index: 1;
}
header p, footer p{
	font-family: "BigNoodleTitlingCyr";
	font-size: 3.33rem;
	margin: 0;
	padding: 0;
	line-height: 15vh;
}
h1,h2,h3,h4,h5,h6{
	font-family: "BigNoodleTitlingCyr";
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}
section{
	padding: 2% 0;
}
/* Заглавная секция */
.title h1{
	font-family: "BigNoodleTitlingCyr";
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #D7D6D6;
}
#bord{
	position: relative;
	min-height: 200px;
}
.mnuTop{
	height: 15vh;
}
.contact{
	width: 100%;
}
.contact span{
	display: inline-block;
	font-family: "BigNoodleTitlingCyr";
	font-size: 2.5rem;
	letter-spacing: 1px;
	line-height: 15vh;
}
.contact i{
	font-size: 2.7rem;
	margin: 0 1% 0 3%;
	color: #F15324;
}
.tel{
	float: left;
	display: inline-block;
	width: 50%;
	text-align: center;
}
.mailE{
	float: right;
	display: inline-block;
	width: 50%;
	text-align: center;
}
.downPrice{
	text-align: center;
}
.downPrice a{
	display: block;
	font-family: "BigNoodleTitlingCyr";
	line-height: 15vh;
	text-transform: uppercase;
	color: #F15324;
	letter-spacing: 2px;
	font-size: 2.5rem;
	height: 15vh;
}
.downPrice i{
	margin: 0 2% 0 0;
	font-size: 3rem;
}
.downPrice a:hover{
	text-decoration: none;
	color: #F15324;
}
.downPrice a::after{
	content: "";
	position: absolute;
	transition: width .5s;
	background-color: #F15324;
	height: 3px;
	width: 0;
	bottom: 0;
	right: 50%;
}
.downPrice a::before{
	content: "";
	position: absolute;
	transition: width .5s;
	background-color: #F15324;
	height: 3px;
	width: 0;
	bottom: 0;
	left: 50%;
}
.downPrice a:hover::after{
	width: 35%;
	transition: width .5s;
}
.downPrice a:hover::before{
	width: 35%;
	transition: width .5s;
}
#bord span{
	font-family: "BigNoodleTitlingCyr";
	text-transform: uppercase;
	font-size: 3rem;
	color: #D7D6D6;
}
#bord .container, #bord .row, #bord .col-md-12{
	height: 100%;
}
.title{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 2;
	text-align: center;
	top: 50%;
}
/* Скуция о нас */
.titleSection{
	text-align: center;
	height: auto;
	padding: 2% 0 4% 0;
}
.titleSection h2{
	font-size: 3rem;
}
.titleSection p{
	font-size: 1.7rem;
	font-family: "RobotoThin";
	font-weight: 900;
	max-width: 500px;
	margin: auto;
	color: #8F8383;
}
.line{
	position: relative;
	width: 100%;
	margin: .5% 0;
}
.circle{
	position: relative;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid #F15324;
}
.circle::before{
	content: "";
	position: absolute;
	top: 4px;
	left: 15px;
	width: 100px;
	height: 2px;
	background-color: #F15324;
}
.circle::after{
	content: "";
	position: absolute;
	top: 4px;
	right: 15px;
	width: 100px;
	height: 2px;
	background-color: #F15324;
}
#aboutUs .blokInf{
	position: relative;
	min-height: 150px;
	background-color: rgba(235, 235, 235, .7);
	text-align: center;
	padding: 5% 0;
	margin-bottom: 2%;
}
#aboutUs .blokInf i{
	font-size: 5rem;
	color: #F15324;
}
#aboutUs .blokInf p{
	padding: 0 5%;
	font-family: "RobotoThin";
	font-size: 1.4rem;
	font-weight: 600;
}
#aboutUs .blokInf h3{
	color: #7A6E6E;
	letter-spacing: 2px;
}
/* Продукция */
#production .mnuProd li{
	display: inline-block;
	list-style: none;
	margin: 0 3%;
	padding: .2%;
	font-family: "RobotoCon";
	font-weight: 600;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	transition: color .5s;
	cursor: pointer;
}
#production .mnuProd .activMnu{
	color: #F15324;
	transition: color .5s;
}
#production .mnuProd .activMnu::after{
	content: "";
	position: absolute;
	transition: width .5s;
	background-color: #F15324;
	height: 1px;
	bottom: 0;
	right: 50%;
	width: 50%;
}
#production .mnuProd .activMnu::before{
	content: "";
	position: absolute;
	transition: width .5s;
	background-color: #F15324;
	height: 1px;
	bottom: 0;
	left: 50%;
	width: 50%;
}
#production .mnuProd li::after{
	content: "";
	position: absolute;
	transition: width .5s;
	background-color: #F15324;
	height: 1px;
	width: 0;
	bottom: 0;
	right: 50%;
}
#production .mnuProd li::before{
	content: "";
	position: absolute;
	transition: width .5s;
	background-color: #F15324;
	height: 1px;
	width: 0;
	bottom: 0;
	left: 50%;
}
#production .mnuProd li:hover::after{
	width: 50%;
	transition: width .5s;
}
#production .mnuProd li:hover::before{
	width: 50%;
	transition: width .5s;
}
#production .mnuProd{
	margin: auto;
	padding: 0;
	text-align: center;
}
#production .listProd{
	padding: 2% 0;
	margin: 0;
}
.listProd .itemProd{
	opacity: 1;
	transition: opacity .5s;
	margin: 0;
	padding: 0;
}
.wrapProdImg img{
	width: 100%;
	height: 100%;
}
.listProd .hideH{
	opacity: 0;
	transition: opacity .5s;
}
.listProd .dis_n{
	display: none;
}
.wrapProdImg:hover .bgcWrap{
	opacity: 1;
	transition: opacity .5s;
}
.bgcWrap{
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px solid #F15324;
	background-color: rgba(243, 235, 235, .9);
	transition: opacity .5s;
}
.bgcWrap span{
	display: block;
	color: #696969;
	font-size: 1.7rem;
	letter-spacing: 1px;
	font-family: "BigNoodleTitlingCyr";
	font-weight: 900;
	margin-top: 40%;
}
.more{
	position: relative;
	cursor: pointer;
	font-family: "BigNoodleTitlingCyr";
	font-weight: 900;
	font-size: 2rem;
	letter-spacing: 2px;
	width: 70%;
	margin: 0 auto;
	color: #F15324;
	text-transform: uppercase;
}
.more::after{
	content: "";
	position: absolute;
	transition: width .5s;
	background-color: #F15324;
	height: 1px;
	width: 0;
	bottom: 0;
	right: 50%;
}
.more::before{
	content: "";
	position: absolute;
	transition: width .5s;
	background-color: #F15324;
	height: 1px;
	width: 0;
	bottom: 0;
	left: 50%;
}
/* Секция примеры работ */
#exampl{
	background-color: #1C1C1C;
	width: 100%;
}
#exampl .rowSlide,#exampl .slide,#exampl .slideList{
	margin: 0;
	padding: 0;
}
.opasN{
	opacity: 0;
	transition: opacity .5s;
}
.opas{
	opacity: 1;
	transition: opacity .5s;
}
.hid{
	display: none;
}
.vis{
	display: block;
}
.popup .slide img{
	width: 60%;
	padding: 0 1% 0 0;
}
#exampl .popup .slide{
	background-color: rgba(243, 235, 235, 0.9);
	padding: 1%;
	width: 90%;
}
.slide{
	cursor: pointer;
}
.slide:hover .wrapVarP{
	opacity: 1;
	border: 1px solid #F15324;
	transition: opacity .3s;
}
.slide:hover .more::after{
	width: 40%;
	transition: width .5s;
}
.slide:hover .more::before{
	width: 40%;
	transition: width .5s;
}
.slide img{
	width: 100%;
}
.prev i{
	float: right;
}
.next i{
	float: left;
}
.prev, .next{
	display: block;
	margin: 0;
	padding: 0;
	color: #F15324;
	top: 50%;
}
.prev i, .next i{
	margin: 0;
	padding: 0;
	color: #F15324;
	font-size: 6rem;
	padding-top: 90%;
	transition: text-shadow .3s;
	cursor: pointer;
}
.prev i:hover, .next i:hover{
	text-shadow: 0px 2px 0px #FFFFFF;
	transition: text-shadow .3s;
}
/* Секция сравнения */
#comparison{

}
.varP{
	position: relative;
	width: 100%;
	margin: 0 auto 2% auto;
	background-color: rgba(235, 235, 235, .7);
	text-align: center;
	border: 1px solid transparent;
	transition: box-shadow .5s, border .5s;
}
.wrapVarP{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(243, 235, 235, .9);
	z-index: 1;
	opacity: 0;
	transition: opacity .5s;
}
.varP:hover{
	box-shadow: 0px 0px 5px 0px rgba(241,83,36, .9);
	border: 1px solid #F15324;
	transition: box-shadow .5s, border .5s;
}
.varP:hover .wrapVarP{
	opacity: 1;
	transition: opacity .5s;
}
.varP:hover .more::after{
	width: 50%;
	transition: width .5s;
}
.varP:hover .more::before{
	width: 50%;
	transition: width .5s;
}
.varP h4{
	position: absolute;
	width: 100%;
	font-size: 2rem;
	background-color: rgba(243, 235, 235, .9);
}
.varP img{
	width: 100%;
}
.wrapVarP .more{
	font-size: 2.3rem;
	top: calc(50% - 20px);
	text-align: center;
	font-family: "BigNoodleTitlingCyr";
	font-weight: 900;
	margin: 0 auto;
}
.opisBlok{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(243, 235, 235, .9);
	text-align: justify;
	padding: 2% 5%;
}
.opisBlok p{
	font-family: "RobotoCon";
	font-weight: 900;
	font-size: 1.5rem;
	margin: 0;
}
.opisBlok span{
	font-family: "BigNoodleTitlingCyr";
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #7A6E6E;
}


.popup{
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(150, 150, 150, .9);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup .fa-times{
	position: absolute;
	color: #ffffff;
	top: 5%;
	right: 5%;
	font-size: 2em;
	cursor: pointer;
	transition: font .2s;
	text-shadow: 1px 1px 2px #000000;
}
.popup .fa-times:hover{
	font-size: 2.2em;
	transition: font .2s;
}
.description{
	display: none;
}
.popup .description{
	display: block;
	width: 100%;
}
.description span{
	text-transform: uppercase;
	font-family: "BigNoodleTitlingCyr";
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 1px;
	color: rgb(109, 110, 113);
}
.popup img{
	width: 30%;
	float: left;
	padding: 0 1% 2% 2%;
}
.popup .bgcWrap{
	position: relative;
	border: none;	
	opacity: 1;
	background-color: transparent;
}
.popup .bgcWrap span{
	display: none;
}
.popup .wrapProdImg{
	background-color: rgba(243, 235, 235, .9);
}
.popup .wrapProdImg .more{
	display: none;
}
.wrapProdImg:hover .more::after{
	width: 50%;
	transition: width .5s;
}
.wrapProdImg:hover .more::before{
	width: 50%;
	transition: width .5s;
}
.popup .wrapProdImg img{
	width: 50%;
	padding-top: 2%;
}
.popup .wrapVarP{
	display: none;
}
.popup .opisBlok{
	position: relative;
	background-color: transparent;
}
.popup h4{
	position: relative;
	background-color: transparent;
	font-size: 2.3rem;
}
.popup .varP{
	background-color: rgba(243, 235, 235, .9);
	width: 90%;
}
.popup .varP:hover{
	box-shadow: none;
	border: 1px solid transparent;
}
/* Секция контакт */
#conect label{
	display: block;
	width: 100%;
	color: #696969;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "RobotoCon";
	font-weight: 900;
	font-size: 1.6rem; 
}
#conect input{
	display: block;
	width: 100%;
	height: 40px;
	margin: 2% 0;
	border:none;
	border-bottom: 2px solid #CACACA;
}
#conect .subBot{
	font-family: "BigNoodleTitlingCyr";
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.9rem;
	letter-spacing: 2.5px;
	color: #ffffff;
	margin: 0 auto;
	width: 15%;
	border: 1px solid transparent;
	background-color: #F6744B;
	transition: color .5s, background .5s, border .5s;
}
#conect .subBot:hover{
	color: #F6744B;
	background-color: #ffffff;
	transition: color .5s, background .5s, border .5s;
	border: 1px solid #F6744B;
}
/* map */
#map{
	margin: 0;
	padding: 0;
}
#google-map{
	position: relative;
	height:500px;
}
#google-container{
	height:500px;
}
.gmnoprint, .gm-style-cc{
	visibility: hidden;
}
.descrAddress{
	position: absolute;
	left: 50%;
	top: 5%;
	margin-left: -140px;
	font-size: 2.5rem;
	width: 280px;
	color: #F6744B;
	font-family: "BigNoodleTitlingCyr";
	font-weight: 500;
	letter-spacing: 2px;
}
/* footer */
footer{
	width: 100%;
	background-color: #171F23;
}
footer p{
	font-weight: 900;
	letter-spacing: 1px;
}